// COLORS
$colour-blue: #00afdb;
$colour-white: #fff;
$colour-black: #000;
$colour-grey-dark: #777;
$colour-grey-light: #f7f7f7;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-horizontal: 1.5rem;
$gutter-vertical: 3rem;
